<ul>
  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a></li>
  <li>
  	<a href="#">User Guide</a>
  	<ul>
      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/">Introduction to Airline</a>
  	  <li>
  	  	<a href="#">Annotations</a>
  	  	<ul>
          <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/">Annotations Overview</a></li>
          <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/unrestricted.html">@Unrestricted</a></li>
          <li>
            <a href="#">Meta-data Annotations</a>
            <ul>
    	  	    <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/command.html">@Command</a></li>
            	<li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/option.html">@Option</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/arguments.html">@Arguments</a></li>
   	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/cli.html">@Cli</a></li>
   	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/group.html">@Group</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/groups.html">@Groups</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/parser.html">@Parser</a></li>
   	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/alias.html">@Alias</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Help Annotations</a>
            <ul>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/copyright.html">@Copyright</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/discussion.html">@Discussion</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/examples.html">@Examples</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/exit-codes.html">@ExitCodes</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/hide-section.html">@HideSection</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/license.html">@License</a></li>
  	  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/prose-section.html">@ProseSection</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Restriction Annotations</a>
            <ul>
              <li>
              <a href="#">Requirement Annotations</a>
                <ul>
                  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/required.html">@Required</a></li>
                  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/require-some.html">@RequireSome</a></li>
                  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/require-only-one.html">@RequireOnlyOne</a></li>
                  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/mutually-exclusive-with.html">@MutuallyExclusiveWith</a></li>
                </ul>
              </li>
              <li>
              <a href="#">Occurrence Annotations</a>
              <ul>
                <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/once.html">@Once</a></li>
                <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/min-occurrences.html">@MinOccurrences</a></li>
                <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/max-occurrences.html">@MaxOccurrences</a></li>
              </ul>
            </ul>
          </li>
        </ul>
  	  </li>
  	  <li>
  	    <a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/parser/">Parser</a> 
      </li>
  	  <li>
  	    <a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/restrictions/">Restrictions</a> 
      </li>
      <li>
  	    <a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/help/">Help</a> 
      </li>
      <li>
  	    <a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/practise/">Airline In Practise</a>
  	    <ul>
  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/practise/oop.html">Inheritance and Composition</a></li>
  	      <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/practise/types.html">Supported Types</a></li>
          <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/practise/aliases.html">User Defined Aliases</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">API Javadoc</a>
    <ul>
      <li>
        <a href="#">Latest ({{ site.version }})</a>
        {% include javadoc-nav.html version=site.version %}
      </li>
      <li>
        <a href="#">Development ({{ site.dev_version }})</a>
        {% include javadoc-nav.html version=site.dev_version %}
      </li>
      <li>
        <a href="#">Past Versions</a>
        <ul>
          <li>
            <a href="#">2.1.0</a>
            {% include javadoc-nav.html version="2.1.0" %}
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li>
  <li><a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a></li>
</ul>
