<a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
<ul>
  <li>
  	<a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/">User Guide</a>
  	<ol>
  	  <li>
  	  	<a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/">Annotations</a>
  	  	<ol>
  	  	  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/command.html">@Command</a></li>
  	  	  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/option.html">@Option</a></li>  	  	  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/arguments.html">@Arguments</a></li>
  	  	  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/cli.html">@Cli</a></li>
  	  	  <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/annotations/parser.html">@Parser</a></li>
             </ol>
  	  </li>
  	  <li>
  	    <a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/restrictions/">Restrictions</a> 
        </li>
        <li>
  	    <a class="sidebar-nav-item" href="{{ site.baseurl }}/guide/help/">Help</a> 
        </li>
      </ol>
  </li>
</ul>
