<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div id="menu">
      <nav class="sidebar-nav" id="mutlilevelpushmenu_wrapper">
       {% include nav.html context=page.url %}
      </nav>
    </div>

    <hr />

    <div>
      <span class="sidebar-nav-item">Current Stable Version: {{ site.version }}</span>
      <span class="sidebar-nav-item">Current Development Version: {{ site.dev_version }}
    </div>
    
    <p>All content on this site is open source under the <a href="http://apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></p>
    
    <p>    
  </div>
</div>
