# Aliases are defined as alias=arguments
example=simple --name alias

# Arguments are whitespace separated
#
# You can use \ if you need to escape whitespace
#
# Alternatively you can quote longer arguments with "
# If you need to use a " within a quoted argument you can escape it with \"
#
# Note that since property values are interpreted as java strings you will 
# need to double escape the \ as shown in the subsequent examples
escape=simple "quoted \\"argument" escaped\\ argument

# Add new aliases here and they will immediatedly be available next time you 
# run the example without any need to recompile