---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
  
   <hr />
   <h3>Improving this Documentation</h3>
   <p>
     This documentation lives in GitHub at <a href="{{ site.github.repo }}/tree/ghpages">{{ site. github.repo }}/tree/ghpages</a>.  
   </p>
   <p>
     I am not a professional technical writer and as the developer of this software I can often make assumptions of knowledge that you as a user may not have.  Improvements to the documentation are always welcome, if you have suggested improvements to the documentation please submit pull requests to that branch.
   </p>
</div>
